body { 
    font-family: 'Inter', sans-serif; 
}

.hidden{
    display: none;
}

.analytic-header{
    position: relative;
    height: fit-content;
    display: flex;
    align-items: center;
}
.analytic{
    position: absolute;
    font-size: 3.5rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #737373;
    opacity: 0.6;
    letter-spacing: 10px;
}
.analytic-sht{
    z-index: 1;
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}
@media (max-width: 600px) {
  .analytic{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
  }
  .analytic-sht{
    font-size: 1rem;
    font-weight: 300;
  }
  
}


/* toggle button */
/* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
  font-size: 8px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #2bed8c;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #ef6f33;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2bed8c;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}
